@{
  Layout = "_Layout";
}

<p>@Html.ActionLink("View All Flavors", "Index", "Flavors")</p>

<p>@Html.ActionLink("View All Treats", "Index", "Treats")</p>

<p>@Html.ActionLink("Login", "Index", "Account")</p>