@{
  Layout = "_Layout";
}

<h1>Pierre's Sweet & Savory Treats</h1>

<p>@Html.ActionLink("View All Flavors", "Index", "Flavors")</p>

<p>@Html.ActionLink("View All Treats", "Index", "Treats")</p>

<p>@Html.ActionLink("Log Into Your Account", "Login", "Account")</p>

<p>@Html.ActionLink("Register an Account", "Index", "Account")</p>