@{
  Layout = "_Layout";
}

@model LoginViewModel

@using Treats.ViewModels

<h2>Log Into Your Account</h2>

<hr/>

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Email)
  @Html.TextBoxFor(m => m.Email)

  @Html.LabelFor(m => m.Password)
  @Html.PasswordFor(m => m.Password)

  <input type="submit" value="Log In" class="btn btn-info" />
}