@{
  Layout = "_Layout";
}

@model Treats.Models.Treat

<h1>Add a New Treat:</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TreatName)
  @Html.TextBoxFor(model => model.TreatName)

  <input type="submit" value="Add New Treat" />
}

<p>@Html.ActionLink("View All Treats", "Index")</p>