@{
  Layout = "_Layout";
}

@model Treats.Models.Flavor

<h1>Add a New Flavor:</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName)

  <input type="submit" value="Add New Flavor" />
}

<p>@Html.ActionLink("View All Flavors", "Index")</p>