@{
  Layout = "_Layout";
}

@model Treats.Models.Flavor

<h2>Are you sure you want to Delete this Flavor from the Database?</h2>

@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)

@using (Html.BeginForm())
{
  <input type="submit" value="Delete Flavor" />
}

@Html.ActionLink("Back to Flavor Details", "Details", new { id = Model.FlavorId })